/.quarto/
.venv/
.venv_old/
.agents/
.pytest_cache/
_site/
.env
__pycache__/
**/*.quarto_ipynb
.jupyter_cache/
**/_content_files/
**/index_files/
content/apostila_files/
*.aux
*.log
*.toc
/.luarc.json
